<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= render 'layouts/object_viewer' %>
    </div>
    <div class="col-xs-6">
      <p id="notice"><%= notice %></p>


      <h1><%= @planet.name %></h1>


      <p>
        <strong>Planetary System:</strong>
        <%= @planet.planetary_system.name %>
      </p>

      <p>
        <strong>Info:</strong>
        <%= @planet.info %>
      </p>

      <%= image_tag @planet.texture.url(:medium) %>
      <p>
        <strong>Size:</strong>
        <%= @planet.size %>
      </p>

      <p>
        <strong>Rotx:</strong>
        <%= @planet.rotX %>
      </p>

      <p>
        <strong>Roty:</strong>
        <%= @planet.rotY %>
      </p>

      <p>
        <strong>Rotz:</strong>
        <%= @planet.rotZ %>
      </p>

      <p>
        <strong>Posx:</strong>
        <%= @planet.posX %>
      </p>

      <p>
        <strong>Posy:</strong>
        <%= @planet.posY %>
      </p>

      <p>
        <strong>Posz:</strong>
        <%= @planet.posZ %>
      </p>



      <%= link_to 'Edit', edit_planet_path(@planet) %> |
      <%= link_to 'Back', planets_path %></div>
  </div>
</div>
